:root {
  --main-bg-color: #ffffff;
  --black: #000;
  --pink: #f3afa8;
}

/* Another pink: #fac6bb */

#app {
  margin: 0;
  font-family: 'Epilogue', sans-serif, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--black);
}

body {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 1em;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: var(--black);
}

a:hover {
  text-decoration: underline;
}

/* coment */
